<!DOCTYPE html>
<html>
   <head>
   
   <!--<script type="text/javascript" src="nodeExpresPostageCalc/public/collageFunctions.js"></script>-->
   <!--<script type="text/javascript" src="collageFunctions.js"></script>-->
   
   </head>
    <body>
   
   
	<div align="center">
	<p> my collage form</p>
	
	<script>
	// use these scripts when neither the postageCalcServer.js functions or the functions in collageFunctions.js wont work.
	//const {Pool} = require("pg");

//connection string to connect to a database
	//const myConnectionString = process.env.DATABASE_URL || "postgres://ifqhbkvidfemnj:b01af7ad1a34b0d69fdf4d6617ef71873dd02d0a5aad44c53e88f5416b59e225@ec2-34-193-232-231.compute-1.amazonaws.com:5432/dbbsvor9teh4sh&ssl=true";
	const myConnectionString = "postgres://ifqhbkvidfemnj:b01af7ad1a34b0d69fdf4d6617ef71873dd02d0a5aad44c53e88f5416b59e225@ec2-34-193-232-231.compute-1.amazonaws.com:5432/dbbsvor9teh4sh
	//const pool = new Pool ({connectionString: myConnectionString});
	
	var response;
	
	var request = new XMLHttpRequest();
	
	request.onreadystatechange = function() {
	
		if(this.readyState === 4 && this.status === 200){

			response = JSON.parse(this.responseText);

		}	
	
	};
	
	request.open("GET", myConnectionString, true);
	request.send();

	function getCollage(req, res){
	
	console.log("i got into the collage project function");
	
	//var result = {id: 123, picturedetail: "vacation", picturedetail2: "pet", picturedetail3: "nature"};
	
	document.getElementById("printArea").innerHTML = JSON.stringify(response);
	
	//res.JSON(result);
	
	//var id = req.query.id;
	// i think if i want to emulate the video i put getCollageFromDB in here?
		//getCollageFromDb(picturedetail, function(error, result) {
	
		//console.log("retrieving item from the DB");
	
		// SELECT * from collagetable;
	
		//});
	
}

/*function getCollageFromDb(picturedetail, callback){
	console.log("getPersonFromDB");
	
	
	var sql = "SELECT id, picturedetail1, picturedetail2, picturedetail3, ppicturefilename FROM collagetable WHERE id = $1::int";
	var params = [id];
	/*pool.query(sql, params, function(err, result){
		if(err){
			console.log("an error with the db occured");
			
		}
		
		console.log("found db result" + JSON.strinify(result.rows));
		callback(null, result.rows);
		
	});*/
		
//}
	
	</script>
	
	
	
	<button onclick="getCollage()">Click Me to get some Json!</button>
	
	</div>
	
	<div id = "printArea">
	
	</div>
	
	
	</body>
</html>