<!DOCTYPE html>
<html>
   <head>
   
   </head>
    <body>
   
   
	<div align="center">
	<p> my collage form</p>
	
	<script src="postageCalcServer.js"></script>
	
	<button onclick="getCollage()">Click Me for an idaho landscape!</button>
	
	</div>
	
	</body>
</html>