body {
	background-color: Teal;
}

#printArea {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  padding:20px;
  justify-content: center;
}

.TitleBar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}