<!DOCTYPE html>
<html>
   <head>
   
   </head>
   <body>

	<h1> choose postage </h1>
	<div class = "chose_postage" align = "center">
   
		
		<form action="/postage" method= "get">
	
			<input type="text" name="stampedLetters">
			<label for="stampedLetters">stamped letter weight</label>
			
			<input type="text" name="meteredLetters">
			<label for="meteredLetters">metered letter weight</label>
			
			<input type="text" name="largeEnvelopes">
			<label for="largeEnvelopes">Large Envelopes</label>
			
			<button id="submitRecord" name="validate" type="submit">submit</button>
			
		</form>
	  
	</div>
	
	   </body>
</html>