<!DOCTYPE html>
<html>
   <head>
   
   </head>
   <body>
   <!-- change below later-->
	<!--<h2>Welcome <%= username %>, your email address is: <%= email %></h2>-->
	<h2>Welcome, your postage is: <%= postage %></h2>
	
	
	<div class = "display_postage" align = "center">
	
	</div>
     
     </body>
</html>